body {
  font-family: 'Quicksand', sans-serif; 
  background-color: #d1f7ee;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  margin: 0;
}

.container {
  width: 350px;
  background: rgb(248, 219, 236);
  padding: 30px;
  border-radius: 50px 20px 50px 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);  
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  color: #117062;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px; 
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  text-align: left;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px; 
  box-sizing: border-box;
  font-size: 16px;
}

input:focus {
  outline: none;
  border-color: #ff00c8;
  box-shadow: 0 0 5px rgba(255, 0, 204, 0.5);
}

button {
  font-family: 'Quicksand', sans-serif; 
  padding: 12px;
  width: 100%;
  background: linear-gradient(90deg, #ff00c8, #b30092);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  box-shadow: 0 4px 15px rgba(255, 0, 200, 0.5);
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

button:active {
    transform: scale(0.95);
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}


button:hover {
  background: linear-gradient(90deg, #00b3a4, #00ffd9);
}

a {
  display: inline-block;
  margin-top: 15px;
  text-decoration: none;
  color: #ff00ae;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}


